---
const { placeholder, type, required, minlength, name, value  } = Astro.props;
---

<div class="relative">
	<slot />
	<input type={type} minlength={minlength} name={name} value={value} required={required} class="bg-white border-primary border-2 outline-0 px-10 py-3 text-terciary rounded-xl placeholder-terciary disabled:border-primary_disabled" placeholder={placeholder}></input>
</div>
