---
import Maximize from "../icons/Maximize.astro";
import Minimize from "../icons/Minimize.astro";
import Play from "../icons/Play.astro";
import Stop from "../icons/Stop.astro";
import TrackNext from "../icons/TrackNext.astro";
import TrackPrev from "../icons/TrackPrev.astro";
import Info from "../icons/Info.astro";
import { VideosModel } from "../models/videos";
import { CameraModel } from "../models/camera";
import { EstablishmentModel } from "../models/establishment";

const { video_id } = Astro.props

if(!video_id)
    return Astro.redirect("/");

const video = await VideosModel.getById({ video_id })

if(!video)
    return Astro.redirect("/");

const { camera_id, date, start_time, end_time } = video

const camera = await CameraModel.getById({ camera_id })

const { establishment_id, field_name } = camera

const { name, address, phone } = await EstablishmentModel.getById({ establishment_id })

---

<!doctype html>
<html class="h-full" lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Sportscamera!</title>
	</head>
	<body class="overflow-hidden h-full">
        <div id="videoContainer" class="relative h-full bg-black" data-fullscreen="false">
            <video id="video" src="video-test/11_2024-05-07T06-02-29.166Z.mp4"></video>
            <div id="video-controls" class="absolute inset-x-0 bottom-0 w-full flex flex-col px-10 py-5 gap-3" data-state="hidden">
                <div class="flex justify-between items-center">
                    <button><Info /></button>
                    <div class="flex items-center">
                        <button id="track_prev"><TrackPrev /></button>
                        <button id="playpause" data-state="play"><Play id="play_icon" /><Stop hidden id="stop_icon" /></button>
                        <button id="track_next"><TrackNext /></button>
                        <button class="bg-white h-7 w-7 rounded-full"></button>
                    </div>
                    <button id="fs" data-state="maximize"><Maximize id="maximize_icon" /><Minimize hidden id="minimize_icon"/></button>
                </div>
                <progress id="progress" class="w-full" min="0" value="0"><span id="progress-bar"></span></progress>
                <div><span id="current_time"></span><span id="duration"></span></div>
            </div>
        </div>
        <div>
            <h1>{name}</h1>
            <span>{field_name}</span>
            <span>{address}</span>
            <span>{phone}</span>
            <span>{date}</span>
            <span>{start_time} - {end_time}</span>
        </div>
        <style>
            progress {
                overflow:hidden;
                -moz-border-radius:10px;
                -webkit-border-radius:10px;
                border-radius:10px;
                color:#9F4AA0; /* Internet Explorer uses this value as the progress bar's value colour */
                cursor:pointer;
            }
            progress::-webkit-progress-value {
                background-color:#9F4AA0;
            }
        </style>
        <script>
            const videoContainer = document.getElementById('videoContainer');
            const video = document.getElementById('video');
            const playpause = document.getElementById('playpause');
            const progress = document.getElementById('progress');
            const progressBar = document.getElementById('progress-bar');
            const fullscreen = document.getElementById('fs');
            const playIcon = document.getElementById('play_icon');
            const stopIcon = document.getElementById('stop_icon');
            const maximizeIcon = document.getElementById('maximize_icon');
            const minimizeIcon = document.getElementById('minimize_icon');
            const trackPrev = document.getElementById('track_prev')
            const trackNext = document.getElementById('track_next')
            const currentTime = document.getElementById('current_time')
            const durationSpan = document.getElementById('duration')

            trackNext.addEventListener('click', ()=>{
                video.currentTime += 10;
            })

            trackPrev.addEventListener('click', ()=>{
                video.currentTime -= 10;
            })

            playpause.addEventListener('click', ()=>{
                if (video.paused || video.ended) video.play();
				else video.pause();
            })

            video.addEventListener('play', function() {
				changeButtonState('playpause');
			}, false);
            
			video.addEventListener('pause', function() {
				changeButtonState('playpause');
			}, false);

            video.addEventListener('loadedmetadata', function() {
				progress.setAttribute('max', video.duration);
                currentTimeDuration()
			});

            video.addEventListener('timeupdate', function() {
                currentTimeDuration()
				if (!progress.getAttribute('max')) progress.setAttribute('max', video.duration);
				progress.value = video.currentTime;
				progressBar.style.width = Math.floor((video.currentTime / video.duration) * 100) + '%';
			});

            progress.addEventListener('click', function(e) {
				const pos = (e.pageX  - (this.offsetLeft + this.offsetParent.offsetLeft + this.offsetParent.offsetParent.offsetLeft)) / this.offsetWidth;
				video.currentTime = pos * video.duration;
			});

            progress.addEventListener('mouseover', function (e) {
                const pos = (e.pageX - (this.offsetLeft + this.offsetParent.offsetLeft + this.offsetParent.offsetParent.offsetLeft)) / this.offsetWidth;
                const duration = pos * video.duration;
                const minutes = Math.floor(duration / 60);
                const seconds = Math.floor(duration % 60);
                const timeString = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
                this.setAttribute('title', timeString);
            });

            fullscreen.addEventListener('click', ()=>{
                if(fullscreen.getAttribute("data-state") === 'maximize'){
                    fullscreen.setAttribute("data-state", 'minimize')
                    minimizeIcon.classList.remove('hidden')
                    maximizeIcon.classList.add('hidden')
                    videoContainer.requestFullscreen();
                }else{
                    fullscreen.setAttribute("data-state", 'maximize')
                    document.exitFullscreen();
                    minimizeIcon.classList.add('hidden')
                    maximizeIcon.classList.remove('hidden')
                }
            })

            function changeButtonState(type) {
				if (type == 'playpause') {
					if (video.paused || video.ended) {
                        playpause.setAttribute('data-state', 'play');
                        stopIcon.classList.add('hidden')
                        playIcon.classList.remove('hidden')
					}
					else {
                        playpause.setAttribute('data-state', 'pause');
                        stopIcon.classList.remove('hidden')
                        playIcon.classList.add('hidden')
					}
				}
				else if (type == 'maximizeminimize') {
                    if(fullscreen.getAttribute("data-state") === 'maximize'){
                        fullscreen.setAttribute("data-state", 'minimize')
                        minimizeIcon.classList.remove('hidden')
                        maximizeIcon.classList.add('hidden')
                        videoContainer.requestFullscreen();
                    }else{
                        fullscreen.setAttribute("data-state", 'maximize')
                        minimizeIcon.classList.add('hidden')
                        maximizeIcon.classList.remove('hidden')
                        document.exitFullscreen();
                    }
					
				}
			}

            function currentTimeDuration(){
                const currTime = Math.round(video.currentTime);
                const duration = Math.round(video.duration);
                
                const currentTimeStr = formatTime(currTime);
                const durationStr = formatTime(duration);

                currentTime.innerText = currentTimeStr;
                durationSpan.innerText = durationStr;
            }

            function formatTime(time) {
                let hours = Math.floor(time / 3600);
                let minutes = Math.floor((time % 3600) / 60);
                let seconds = time % 60;

                if (hours > 0) {
                    return `${hours}:${(minutes < 10 ? '0' : '') + minutes}:${(seconds < 10 ? '0' : '') + seconds}`;
                } else {
                    return `${minutes}:${(seconds < 10 ? '0' : '') + seconds}`;
                }
            }
        </script>
	</body>
</html>

