---
const { placeholder, type, required, minlength, name, value, maxlength, pattern, notSvg, id, readonly } = Astro.props;
---

<div class="relative">
	<slot />
	<input id={id} type={type} minlength={minlength} maxlength={maxlength} readonly={readonly} name={name} value={value} required={required} pattern={pattern} class="bg-white h-12 w-full border-primary border-2 outline-0 px-10 py-1 md:py-3 text-black rounded-xl placeholder-terciary disabled:border-primary_disabled" placeholder={placeholder}></input>
</div>
