---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import Input from "../components/Input.astro"
import { UserModel } from "../models/user";
import { EstablishmentModel } from "../models/establishment";
import { CameraModel } from "../models/camera";
import Email from "../icons/Email.astro";
import Button from "../components/Button.astro";
import Establishment from "../icons/Establishment.astro";
import Address from "../icons/Address.astro";
import Camera from "../icons/Camera.astro";


const user = Astro.locals.user;
if (!user) {
	return Astro.redirect("/sign-in");
}

const { user_id, establishment_id } = user

const { email } = await UserModel.profile({ user_id })

const establishment = await EstablishmentModel.getOne({ establishment_id })

const cameras = await CameraModel.getAll({establishment_id});
console.log(establishment)


---

<Layout title="SportsCamera!">
	<Navbar />

	<section class="search_video grid bg-white h-full w-full md:rounded-r-xl md:gap-x-10 md:gap-y-5 px-5 text-center">
		<strong class="font-medium text-xl md:text-3xl text-primary text-nowrap">Configuracion</strong>
        <section>
            <Input placeholder="Email" value={email} type="email" required>
                <Email />
            </Input>
            <Input placeholder="Nombre" value={establishment.name} type="text" required>
                <Establishment />
            </Input>
            <Input placeholder="Direccion" value={establishment.address} type="text" required>
                <Address />
            </Input>
            {cameras.map(({ field_name })=>{
                return <Input type="text" value={field_name} required>
                    <Camera />
                </Input>
            })}
            <Button>CAMBIAR CONTRASEÑA</Button>
            <Button>GUARDAR CAMBIOS</Button>
            <Button>CERRAR SESION</Button>
        </section>
	</section>
</Layout>