---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
import Input from "../components/Input.astro"
import { EstablishmentModel } from "../models/establishment";
import { CameraModel } from "../models/camera";
import Button from "../components/Button.astro";
import Establishment from "../icons/Establishment.astro";
import Camera from "../icons/Camera.astro";
import Address from "../icons/Address.astro";
import Phone from "../icons/Phone.astro";

const user = Astro.locals.user;
if (!user) {
	return Astro.redirect("/sign-in");
}

const { establishment_id } = user

const establishment = await EstablishmentModel.getOne({ establishment_id })

const cameras = await CameraModel.getAll({establishment_id});

---

<Layout title="SportsCamera!">
	<Navbar />
	<section class="bg-white h-full md:rounded-r-xl text-center z-0 max-w-4xl">
		<strong class="font-medium text-2xl md:text-3xl text-primary text-nowrap">Configuracion</strong>
        <form method="POST" class="text-start p-3">
            <strong class="text-primary text-2xl font-medium">Establecimiento</strong>
            <div class="flex flex-wrap my-2 gap-4">
                <label>
                    Nombre
                    <Input placeholder="Nombre" name="name" value={establishment.name} type="text" required>
                        <Establishment />
                    </Input>
                </label>
                {cameras.map((camera, index)=>{
                    return <label>
                        Nombre cámara {index+1}
                        <Input type="text" placeholder={`Camara ${index+1}`} name={`camera_${index+1}`} value={camera.field_name} required>
                            <Camera />
                        </Input>
                    </label>
                })}
                <label>
                    Dirección
                    <Input placeholder="Dirección" name="address" value={establishment.address} type="text" required>
                        <Address />
                    </Input>
                </label>
                <label>
                    Teléfono
                    <Input placeholder="Teléfono" name="phone" value={establishment.phone} type="text">
                        <Phone />
                    </Input>
                </label>
            </div>
            <div class="flex md:justify-end mt-5 gap-5">
                <Button id="logout_btn" bg="red-500">CERRAR SESION</Button>
                <Button type="submit">GUARDAR CAMBIOS</Button>
            </div>
        </form>
	</section>
    <script>
        document.getElementById('logout_btn').addEventListener('click',async ()=>{
            const response = await fetch('api/user/logout', {
                method:'POST',
                headers: {
					'Content-Type': 'application/json'
				},
            })
            if(response.ok) window.location.href = response.headers.get('Location')
        })
    </script>
</Layout>